.page {
  padding: 0 var(--side-margin) 140px;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: calc(var(--side-margin) * 4);
  align-items: start;
}

.richText {
  font-size: var(--font-l);
  line-height: 32px;
  max-width: var(--max-width-rich-text);
  gap: 32px;
}

.richText :global(h1),
.richText :global(h2),
.richText :global(h3),
.richText :global(h4),
.richText :global(h5),
.richText :global(h6) {
  font-family: var(--font-serif);
  font-size: var(--font-l);
  line-height: 32px;
}

.richText :global(a) {
  text-transform: none;
}

@media (max-width: 50rem) {
  .columns {
    grid-template-columns: 1fr;
    gap: 48px;
  }

  .richText {
    max-width: none;
  }
}
