.page {
  padding: 0 var(--side-margin) 140px;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: calc(var(--side-margin) * 4);
  align-items: start;
}

.column:empty {
  display: none;
}

.richText {
  font-size: var(--font-l);
  line-height: 32px;
  max-width: var(--max-width-rich-text);
  gap: 32px;
}

.richText :global(h1),
.richText :global(h2),
.richText :global(h3),
.richText :global(h4),
.richText :global(h5),
.richText :global(h6) {
  font-family: var(--font-serif);
  font-size: var(--font-xxl);
  line-height: 46px;
}

.richText :global(a) {
  text-transform: none;
}

@media (max-width: 1120px) {
  .columns {
    gap: calc(var(--side-margin) * 2);
  }

  .richText {
    font-size: var(--font-size);
    line-height: 1.45;
    gap: 24px;
  }

  .richText :global(h1),
  .richText :global(h2),
  .richText :global(h3),
  .richText :global(h4),
  .richText :global(h5),
  .richText :global(h6) {
    font-size: var(--font-xl);
    line-height: 1.4;
  }
}

@media (max-width: 800px) {
  .page {
    padding-bottom: 80px;
  }

  .columns {
    grid-template-columns: 1fr;
    gap: 64px;
  }

  .richText {
    max-width: none;
  }
}

@media (min-width: 801px) {
  .column:empty {
    display: block;
  }
}
