.header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--side-margin);
  padding-bottom: 120px;
  gap: var(--side-margin);
  pointer-events: none;
}

.mark {
  flex: 1;
  pointer-events: auto;
}

.nav {
  flex: 1;
}

.navList {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  text-transform: uppercase;
  font-size: var(--font-s);
  letter-spacing: 10%;
}

.navLink {
  pointer-events: auto;
}