.footer {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 140px var(--side-margin) var(--side-margin);
  text-transform: uppercase;
  font-size: var(--font-s);
  letter-spacing: 10%;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 38px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.subscribeCopy {
  max-width: 750px;
  font-size: var(--font-s);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.email {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--fg-color);
  text-align: center;
  text-transform: none;
  letter-spacing: var(--letter-spacing);
}

.email::placeholder {
  opacity: 0.35;
}

.submit {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--side-margin);
}

.navList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
